:root {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    background-color: rgb(158, 75, 3);
}

main {
    margin: auto;
    margin-top: 10%;
    width: 300px;
    height: 594px;
    background-color: #D8D7C5;
    border-radius: 24px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
}

h1, h3 {
    margin: 0;
}

