:root {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    background-color: rgb(158, 75, 3);
}

main {
    margin: auto;
    margin-top: 10%;
    width: 300px;
    height: 600px;
    background-color: #D8D7C5;
    border-radius: 24px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
}

h1, h3 {
    margin: 0;
}

h1 {
    margin-top: 4px;
    font-weight: 600;
}

h3 {
    font-weight: 200;
}

section {
    margin-top: 12px;
    margin-left: 24px;
}

.hero-image {
    margin: 0;
}

.food-info {
    margin-top: 24px;
    font-size: 18px;
}

.food-info > div > img {
    margin-right: 8px;
}

.items {
    margin-bottom: 12px;
}